@media (max-width: 991px) {
    .container {
        width: 750px;
    }
}

@media (max-width: 1199px) {
    .container {
        width: 950px;
    }

    .topLine .time {
        display: none;
    }

    .topLine .infoItem {
        width: 100%;
    }

    .banner {
        box-shadow: none;
    }

    .banner .titleLight h2 {
        font-size: 80px;
    }

    .portfolio .titleDark {
        text-align: center;
    }

    .portfolio .titleDark h1 {
        margin-top: 70px;
    }

    .advantages .item .icon-head {
        font-size: 150px;
        margin-left: 150px;
    }

    .advantages .tecSup {
        font-size: 30px;
    }

    .advantages .textLight {
        font-size: 15px;
        line-height: 26px;
        letter-spacing: -1px;
    }

    .calculation .down {
        display: none;
    }

    .calculation .left {
        margin-top: -20px;
    }

    .packages {
        background-image: none;
    }

    .packages .wrapper {
        display: none;
    }

    .calculation .middle {
        position: relative;
        left: 120px;
        margin-top: -20px;
    }

    .calculation .middle .btnGreen {
        margin-bottom: 10px;
        margin-left: -30px;
    }

    .calculation .right {
        display: none;
    }

    .results {
        display: none;
    }

    .steps {
       display: none;
    }

    .statistic {
        margin-top: 50px;
    }

    .statistic .first {
        margin-left: 50px;
        width: 80%;
    }

    .statistic .second {
        margin-left: 140px;
        width: 80%;
    }

    .statistic .titleDark {
        text-align: center;
    }

    .news .titleDark {
        position: relative;
        top: 50px;
    }

    .news .titleDark span {
        margin-left: 50px;
    }

    .news .perPay .first{
        width: 100%;
        float: left;
        display: inline-block;
        position: relative;
        left: 330px;
        top: -200px;
    }

    .news .perPay .second{
        width: 100%;
        float: left;
        display: inline-block;
        position: relative;
        top: -250px;
    }

    .news .btnYellow {
        position: relative;
        top: 350px;
        left: -100px;
    }

    .news {
        position: relative !important;
        background-color: #ffffff !important;
        z-index: 1;
    }

    footer {
        position: relative;
        top: -350px;
        z-index: -1;
    }

    .friends {
        display: none;
    }

}

@media (max-width: 767px) {
    .container {
        width: 100%;
    }

    .topLine {
        width: 70%;
    }

    .logo {
        display: block;
        width: 45%;
    }

    .logo img {
        margin-top: 20px;
        margin-left: -60px !important;
    }

    .topLine .time {
        margin-top: -15px;
        margin-left: 20px;
    }

    header .logReg a {
        padding: 0 20px;
    }

    .logReg {
        margin-top: 20px;
        margin-left: -30px;
    }

    .logReg .icon-lock {
        font-size: 30px;
    }

    .logReg .icon-keys {
        font-size: 30px;
    }

    .logReg .one {
        font-size: 16px !important;
    }

    header .infoItem {
        width: 100%;
        margin-top: 25px;
    }

    header .infoItem li + li {
        display: inline-block;
        margin-left: 5px;
        padding: 0 -5px;
    }

    header .infoItem li {
        display: inline-block;
        margin-left: -5px;
    }

    .banner .titleLight span {
        font-size: 25px;
    }

    .banner .container {
        width: 100%;
    }

    .banner .titleLight h2 {
        font-size: 45px;
        line-height: 45px;
        margin-top: 30px;
    }

    .banner .btnGreen {
        margin-top: 10px;
    }

    .portfolio .descrip {
        margin-top: -80px;
        text-align: center;
    }

    .portfolio .text {
        margin-top: -80px;
    }

    .portfolio .btnYellow a {
        padding: 20px 10px;
        margin-left: 25px;
    }

    .portfolio .btnYellow a  span {
        padding-top: 7px;
    }

    .portfolio .descrip h1 {
        margin-top: 50px;
        margin-left: -10px;
        text-align: center;
    }

    .portfolio .descrip .titleDark {
        margin-left: 40px;
    }

    .portfolio .tumbNail {
        display: none;
    }

    .steps {
        display: none;
    }

}
