@media (max-width: 991px) {
    .container {
        width: 750px;
    }
}

@media (max-width: 1199px) {
    .container {
        width: 950px;
    }
}

@media (max-width: 767px) {
    .container {
        width: 100%;
    }

    .topLine {
        background-color: #ffffff;
    }

    header::before {
        display: none;
    }

    .topLine::before {
        display: none;
    }

    header .logo {
        display: block;
        float: left;
        margin-left: 90px;

    }

    .logReg  {
        display: inline-block;
        margin-top: 80px;
        margin-left: -25px;
    }

    .topLine .time {
        display: none;
    }

    .topLine .socItem {
        display: none;
    }


}