* {
    box-sizing: border-box;
}

body {
    max-width: 1920px;
    margin: 0 auto;
    font-family: "Brutal Type";
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.clear::after {
    content: "";
    display: block;
    clear: both;
}

.topLine {
    width: 70%;
    display: inline-block;
}

.topLine .socItem {
    display: inline-block;
    text-align: center;
}

.topLine .socItem li {
    display: inline-block;
    padding-top: 30px;
}

.topLine .socItem li + li {
    margin-left: 25px;
}

header .socItem a {
    font-size: 20px;
    color: #102831;
    text-decoration: none;
}

.topLine .time {
    display: inline-block;
}

header .time {
    font-size: 20px;
    line-height: 36px;
    width: 125px;
    height: 22px;
    color: #ffffff;
    background-color: #2baf68;
    margin-left: 106px;
}

.logReg {
    display: inline-block;
    padding-left: 65px;
}

.logReg .one{
    margin-right: 30px;
}

header .logReg a {
    font-size: 20px;
    line-height: 36px;
    color: #11252d;
    text-decoration: none;
}

header .logReg .one {
    font-size: 13px;
    line-height: 36px;
    color: #11252d;
    text-decoration: underline;
}

.infoItem li {
    display: inline-block;
}

.infoItem li + li {
    margin-left: 50px;
}

header .infoItem a {
    font-size: 16px;
    line-height: 36px;
    color: #11252d;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
}

header .infoItem a:visited {
    font-size: 16px;
    line-height: 36px;
    color: #11252d;
    text-decoration: none;
    font-weight: 700;
}

header .infoItem a:hover {
    font-size: 16px;
    line-height: 36px;
    color: #11252d;
    text-decoration: underline;
    font-weight: 700;
}

.logo {
    width: 30%;
    float: right;
    text-align: center;
    padding-top: 30px;
}

.banner :nth-child {
    width: 1920px;
    height: 910px;
}

.banner {
    background: #102831;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -10px;
}

.banner .titleLight {
    padding-top: 280px;
}

.banner .titleLight span {
    font-size: 40px;
    line-height: 80px;
    color: #ffffff;
}

.banner .titleLight h2 {
    font-size: 90px;
    font-weight: bold;
    line-height: 100px;
    color: #ffffff;
    text-transform: uppercase;
}

.banner .btnGreen {
    margin-top: 55px;
    padding-right: 380px;
    font-weight: bold;
}

.banner a {
    font-size: 16px;
    line-height: 36;
    color: #ffffff;
    background-color: #2baf68;
    text-decoration: none;
    padding: 20px 50px 20px 50px;
}

.portfolio .descrip {
    width: 30%;
    float: left;
    padding-top: 120px;
}

.portfolio .text {
    width: 70%;
    float: right;
    padding-top: 135px;
}

.portfolio .tumbNail {
    margin-top: 40px;
}

.portfolio .titleDark {
    text-transform: uppercase;
}

.portfolio {
    background-color: #ffffff;
}

.portfolio .descrip span {
    font-size: 20px;
    line-height: 50px;
    color: #2baf68;
}

.portfolio .descrip h1 {
    font-size: 40px;
    line-height: 50px;
    color: #11252d;
}

.portfolio .btnYellow {
    margin-top: 105px;
}

.portfolio .descrip a {
    font-size: 16px;
    line-height: 36px;
    color: #11252d;
    background-color: #ffc638;
    text-decoration: none;
    font-weight: bold;
    padding: 20px 50px;
}

.portfolio .textDark {
    font-size: 16px;
    line-height: 26px;
    color: #11252d;
}

.portfolio .tumbNail {
    font-size: 16px;
    line-height: 26px;
    color: #11252d;
    font-weight: bold;
}

.advantages :nth-child {
    width: 570px;
    height: 985px;
}

.advantages {
    background: #102831;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.advantages {
    margin-top: 105px;
}

.advantages .support {
}

.advantages .item {
    margin-top: 145px;
    padding-left: 75px;
}

.advantages .tecSup {
    margin-top: 65px;
    padding-left: 75px;
    text-transform: uppercase;
}

.advantages .textLight {
    margin-top: 65px;
    padding-left: 75px;
}

.advantages .item .icon-head {
    font-size: 110px;
    line-height: 111px;
    color: #ffc638;
}

.advantages .tecSup {
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
    color: #ffffff;
}

.advantages .textLight {
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
}

.catalog {
    width: 360px;
    height: 465px;
}

.catalog {
    position: relative;
    z-index: 2;
    right: -840px;

}

.portfolio .catalog a {
    font-size: 18px;
    line-height: 26px;
    color: #999999;
    text-decoration: none;
}

.portfolio .catalog span {
    font-size: 40px;
    color: #ffffff;
}

.portfolio .catalog .one {
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
    font-weight: bold;
}

.packages :nth-child {
    width: 896px;
    height: 1916px;
}

.packages {
    background: #102831;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.packages {
    margin-top: 120px;
}

.packages .left {
    width: 50%;
    float: left;
}

.packages .left .title {
    padding-top: 120px;
    text-transform: uppercase;
}

.packages .left .optimum {
    margin-top: 50px;
    margin-bottom: 45px;
}

.packages .left .items {
    display: block;
    margin-bottom: 45px;
}

.packages .option {
    float: right;
}

.packages .title span {
    font-size: 20px;
    line-height: 50px;
    color: #2baf68;
    font-weight: bold;
}

.packages .title h1 {
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
    color: #ffffff;
}

.packages .optimum span {
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
    color: #ffc638;
    text-transform: uppercase;
}

.packages .items [class*="icon"] {
    font-size: 40px;
    color: #ffc638;
}

.packages .items .one {
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
}

.packages .items .two {
    font-size: 16px;
    line-height: 26px;
    color: #ffc638;
}

.packages .option {
    background-color: #2baf68;
}

.packages .item [class*="icon"] {
    font-size: 65px;
    color: #ffc638;
}

.packages .item .black {
    font-size: 16px;
    font-weight: bold;
    color: #102831;
    background-color: #2baf68;
}

.packages .item span {
    font-size: 16px;
    color: #ffffff;
    background-color: #2baf68;
}

.calculation {
    background-color: #2b3f44;
}

.calculation {
    margin-top: 130px;
}

.calculation .down {
    display: inline-block;
}

.calculation .refer {
    padding: 20px 40px;
    text-transform: uppercase;
}

.calculation .per {
    padding: 15px 30px;

}

.calculation label {
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
}

.calculation input {
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
}

.calculation select {
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
}

.calculation .common {
    font-size: 18px;
    line-height: 50px;
    color: #2baf68;
}

.calculation .sum {
    font-size: 48px;
    line-height: 50px;
    color: #ffffff;
}

.calculation .btnGreen {
    font-size: 16px;
    line-height: 36px;
    color: #ffffff;
    text-decoration: none;
    background-color: #2baf68;
}

.calculation .right .one {
    font-size: 18px;
    line-height: 65px;
    color: #2baf68;
}

.calculation .right .two {
    font-size: 18px;
    line-height: 65px;
    color: #ffffff;
}

.calculation .down .refer {
    font-size: 20px;
    line-height: 55px;
    color: #ffffff;
    background-color: #2baf68;
}

.calculation .down .per {
    font-size: 30px;
    line-height: 40px;
    color: #102831;
    background-color: #ffc638;
}

.results {
    background-color: #ffffff;
}

.results {
    margin-top: 120px;
}

.results p {
    margin-top: 50px;
}

.results span {
    font-size: 20px;
    line-height: 50px;
    color: #2baf68;
    font-weight: bold;
    text-transform: uppercase;
}

.results h1 {
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
    color: #11252d;
    text-transform: uppercase;
}

.results p {
    font-size: 16px;
    line-height: 26px;
    color: #11252d;
}

.steps :nth-child {
    width: 489px;
    height: 1918px;
}

.steps {
    background: #102831;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.steps {
    margin-top: 110px;
}

.steps .item {
    float: left;
    padding: 120px 20px;
}

.steps .left .item {
    padding-bottom: 50px;
}

.steps .item .icon-screen {
    font-size: 80px;
    color: #47c481;
}

.steps .item .icon-coins {
    font-size: 80px;
    color: #47c481;
}

.steps .item .icon-graph {
    font-size: 80px;
    color: #47c481;
}

.steps .item .icon-hand {
    font-size: 80px;
    color: #47c481;
}

.steps .item .one {
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    color: #2baf68;
}

.steps .item .two {
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    color: #ffffff;
}

.steps .item .textLight {
    font-size: 14px;
    line-height: 30px;
    color: #ffffff;
}

.statistic {
    background-color: #ffffff;
}

.statistic .titleDark span {
    font-size: 20px;
    line-height: 50px;
    color: #2baf68;
}

.statistic .titleDark h1 {
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
    color: #11252d;
}

.statistic .line .one {
    font-size: 15px;
    line-height: 30px;
    color: #2baf68;
}

.statistic .line .two {
    font-size: 15px;
    line-height: 30px;
    color: #11252d;
}

.statistic .line .three {
    font-size: 15px;
    line-height: 30px;
    color: #ffb600;
}

.news .titleDark {
    display: inline-block;
    margin-top: 90px;
    text-transform: uppercase;
}

.news a {
    display: inline-block;
    float: right;
    padding: 10px 45px;
    margin-top: 130px;
    text-transform: uppercase;
}

.news {
    background-color: #f0f1f1;
}

.news .allNews span {
    font-size: 20px;
    line-height: 50px;
    color: #2baf68;
}

.news .allNews h1 {
    font-size: 40px;
    line-height: 50px;
    color: #11252d;
}

.news .allNews .btnYellow {
    font-size: 16px;
    line-height: 36px;
    font-weight: bold;
    color: #102831;
    text-decoration: none;
    background-color: #ffc638;
}

.news .paymentsOne .one {
    font-size: 13px;
    line-height: 70px;
    color: #ffffff;
    background-color: #2baf68;
}

.news .paymentsOne .two {
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    color: #102831;
}

.news .paymentsTwo .one {
    font-size: 13px;
    line-height: 70px;
    color: #ffffff;
    background-color: #2baf68;
}

.news .paymentsTwo .two {
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    color: #102831;
}

.partners li {
    display: inline-block;
}

.partners li + li {
    margin-left: 50px;
}

.partners {
    background-color: #2baf68;
    padding: 70px 55px;
}

.footer {
    background-color: #102831;
}

footer .wrap {
    width: 100%;
    float: left;
    margin-top: 70px;
}

footer .paper {
    display: inline-block;
}

footer .contacts {
    display: inline-block;
    margin-left: 75px;
}

footer .contacts span {
    margin-right: 20px;
}

footer .infoItem {
    display: inline-block;
    margin-left: 130px;
}

footer .infoItem li {
    display: block;
}

footer .logo {
    margin-top: 50px;
    text-align: center;
    vertical-align: middle;
}

footer .socItem {
    display: block;
    background-color: #ffc638
}

footer .socItem li {
    display: inline-block;
    float: right;
}

footer .socItem li + li {
    margin-right: 35px;
}

footer .icon-point {
    font-size: 25px;
    color: #ffc638;
}

footer .icon-envelope {
    font-size: 25px;
    color: #ffc638;
}

footer p {
    font-size: 15px;
    font-weight: normal;
    line-height: 29px;
    color: #ffffff;
}

footer .post {
    font-size: 15px;
    font-weight: normal;
    line-height: 29px;
    color: #ffffff;
}

footer .link1 {
    font-size: 16px;
    font-weight: normal;
    line-height: 29px;
    color: #ffc638;
    text-decoration: none;
}

footer .infoItem a {
    font-size: 15px;
    font-weight: normal;
    line-height: 40px;
    color: #ffffff;
    text-decoration: none;
}

footer .socItem a {
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
}

footer .copyright {
    background-color: #ffffff;
}

footer .copyright {
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    color: #102831;
}

.banner2 :nth-child {
    width: 327px;
    height: 1916px;
}

.banner2 {
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banner2 .titInvest {
    font-size: 90px;
    line-height: 100px;
    font-weight: bold;
    color: #ffffff;
}

.packet .tumbNail {
    font-size: 20px;
    line-height: 40px;
    font-weight: normal;
    color: #11252d;
}

.packet .icon-screen {
    font-size: 80px;
    color: #ffc638;
}

.packet .icon-coins {
    font-size: 80px;
    color: #ffc638;
}

.packet .icon-graph {
    font-size: 80px;
    color: #ffc638;
}

.packet .icon-hand {
    font-size: 80px;
    color: #ffc638;
}

.packet .items .one {
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    color: #2baf68;
}

.packet .items .textDark {
    font-size: 14px;
    line-height: 22px;
    color: #11252d;
}

.packet .titleDark span {
    font-size: 20px;
    line-height: 50px;
    color: #2baf68;
}

.packet .titleDark h3 {
    font-size: 40px;
    line-height: 50px;
    font-weight: bold;
    color: #11252d;
}

.packet .packone .item {
    background-color: #2baf68;
}

.packet .item [class*="icon"] {
    font-size: 75px;
    color: #ffffff;
}

.packet .item .black {
    font-size: 16px;
    font-weight: bold;
    color: #102831;
}

.packet .item span {
    font-size: 25px;
    color: #ffffff;
}

.packtwo .item {
    background-color: #2baf68;
}

.packtwo .item2 {
    background-color: #ceecdc;
}

.packet .item2 .black {
    font-size: 16px;
    font-weight: bold;
    color: #102831;
}

.packet .item2 span {
    font-size: 25px;
    color: #ffffff;
}

.packet .item3 [class*="icon"] {
    font-size: 40px;
    color: #ffc638;
}

.packet .item3 .one {
    font-size: 16px;
    line-height: 26px;
    color: #11252d;
}

.packet .item3 .two {
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;
    color: #11252d;
}

.calculation1 {
    background-color: #f0f1f1;
}

.calculation1 label {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    color: #11252d;
}

.calculation1 input {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    color: #11252d;
}

.calculation1 select {
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
}

.calculation1 .common {
    font-size: 18px;
    line-height: 50px;
    font-weight: bold;
    color: #2baf68;
}

.calculation1 .sum {
    font-size: 48px;
    line-height: 50px;
    font-weight: bold;
    color: #000000;
}

.calculation1 .btnYellow {
    font-size: 16px;
    line-height: 36px;
    color: #000000;
    text-decoration: none;
    background-color: #ffc638;
}

.calculation1 .right .one {
    font-size: 18px;
    line-height: 65px;
    font-weight: bold;
    color: #2baf68;
}

.calculation1 .right .two {
    font-size: 18px;
    line-height: 65px;
    font-weight: bold;
    color: #000000;
}



