* {
    box-sizing: border-box;
}

body {
    max-width: 1920px;
    margin: 0 auto;
    font-family: "Brutal Type";
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.clear::after {
    content: "";
    display: block;
    clear: both;
}

.invisLink {
    position: relative;
    z-index: 1;
}

.invisLink > a {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 7;
    overflow: hidden;
    text-indent: 200%;
    white-space: nowrap;
}

/*ПОЗИЦИОНИРОВАНИЕ БЛОКА HEADER*/

.topLine {
    width: 70%;
    height: 170px;
    display: inline-block;
    box-shadow: 3px 0 21px 0 rgba(0,0,0,0.11);
    background-color: #ffc638;
    padding-top: 26px;
}

.socItem .point li a span {
    display: block;
    border-radius: 50%;
    border: 1px solid #102831;
    line-height: 30px;
    width: 30px;
    vertical-align: center;
}

.topLine .socItem {
    display: inline-block;
    text-align: center;
}

.topLine .socItem li {
    display: inline-block;
}

.topLine .socItem li + li {
    margin-left: 16px;
}

.topLine .time {
    display: inline-block;
}

.time .point {
    display: block;
    border-radius: 23px;
}

.logReg {
    display: inline-block;
    padding-left: 63px;
}

.logReg .icon-lock {
    padding-right: 11px;
}

.logReg .icon-keys {
    padding-right: 11px;
}

.logReg .one{
    margin-right: 30px;
}

header .infoItem li {
    display: inline-block;
    padding-top: 30px;
}

header .infoItem li + li {
    margin-left: 55px;
}

.logo {
    width: 30%;
    float: right;
    text-align: center;
    padding-top: 30px;
}

/*ПОЗИЦИОНИРОВАНИЕ БЛОКА HEADER*/

header .socItem a {
    font-size: 20px;
    color: #102831;
    text-decoration: none;
}

header .time {
    font-size: 20px;
    line-height: 36px;
    width: 125px;
    height: 22px;
    color: #ffffff;
    margin-left: 95px;
}

header .logReg a {
    font-size: 20px;
    line-height: 36px;
    color: #11252d;
    text-decoration: none;
}

header .logReg .one {
    font-size: 13px;
    line-height: 36px;
    color: #11252d;
    text-decoration: underline;
}

header .infoItem a {
    font-size: 16px;
    line-height: 36px;
    color: #11252d;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
}

header .infoItem a:visited {
    font-size: 16px;
    line-height: 36px;
    color: #11252d;
    text-decoration: none;
    font-weight: 700;
}

header .infoItem a:hover {
    font-size: 16px;
    line-height: 36px;
    color: #11252d;
    text-decoration: underline;
    font-weight: 700;
}

/*.banner {*/
    /*width: 1920px;*/
    /*height: 910px;*/
/*}*/

.banner {
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -51px;
}

.banner .titleLight {
    padding-top: 280px;

}

.banner .titleLight span {
    font-size: 40px;
    line-height: 80px;
    color: #ffffff;
    box-shadow: 16px 0 21px 0 rgba(0,0,0,0.21);
}

.banner .titleLight h2 {
    font-size: 90px;
    font-weight: bold;
    line-height: 100px;
    color: #ffffff;
    text-transform: uppercase;
    box-shadow: 16px 0 21px 0 rgba(0,0,0,0.21);
}

.banner .btnGreen {
    padding-top: 55px;
    padding-right: 380px;
    font-weight: bold;
}

.banner a {
    font-size: 16px;
    line-height: 36;
    color: #ffffff;
    text-decoration: none;
    padding: 20px 50px 20px 50px;
    border-radius: 52px;
    box-shadow: 16px 0 21px 0 rgba(0,0,0,0.21);
}

.portfolio .descrip {
    width: 30%;
    float: left;
    padding-top: 120px;
}

.portfolio .text {
    width: 70%;
    float: right;
    padding-top: 135px;
}

.portfolio .tumbNail {
    margin-top: 40px;
}

.portfolio .titleDark {
    text-transform: uppercase;
}

.portfolio {
    background-color: #ffffff;
}

.portfolio .descrip span {
    font-size: 20px;
    line-height: 50px;
    color: #2baf68;
}

.portfolio .descrip h1 {
    font-size: 40px;
    line-height: 50px;
    color: #11252d;
}

.portfolio .btnYellow {
    margin-top: 105px;
}

.portfolio .descrip a {
    font-size: 16px;
    line-height: 36px;
    color: #11252d;
    text-decoration: none;
    font-weight: bold;
    padding: 20px 50px;
    border-radius: 52px;
}

.portfolio .textDark {
    font-size: 16px;
    line-height: 26px;
    color: #11252d;
}

.portfolio .tumbNail {
    font-size: 16px;
    line-height: 26px;
    color: #11252d;
    font-weight: bold;
}

.support {
    width: 985px;
    height: 570px;
}

.support {
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 3px 0 21px 0 rgba(0,0,0,0.11);
}

.advantages {
    margin-top: 105px;
    position: relative;
}

.advantages .item {
    padding-top: 145px;
    padding-left: 75px;
}

.advantages .tecSup {
    margin-top: 65px;
    padding-left: 75px;
    text-transform: uppercase;
}

.advantages .textLight {
    margin-top: 65px;
    padding-left: 75px;
}

.advantages .item .icon-head {
    font-size: 110px;
    line-height: 111px;
    color: #ffc638;
}

.advantages .tecSup {
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
    color: #ffffff;
}

.advantages .textLight {
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
}


.catalog {
    width: 360px;
    height: 465px;
    padding-top: 35px;
    position: absolute;
    top: 50px;
    right: 0;
    box-shadow: 3px 0 21px 0 rgba(0,0,0,0.11);
}

.catalog .line {
    display: inline-block;
    padding-left: 45px;
    padding-right: 45px;
    vertical-align: center;
    text-align: center;
}

.catalog .one {
    display: inline-block;
    vertical-align: center;
    text-align: left;
}

.portfolio .catalog a {
    font-size: 18px;
    line-height: 26px;
    color: #999999;
    text-decoration: none;
    padding-bottom: 10px;
}

.portfolio .catalog .icon-field {
    padding-top: 13px;
}

.portfolio .catalog span {
    font-size: 40px;
    color: #ffffff;
}

.portfolio .catalog .one {
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
    font-weight: bold;
    padding-left: 38px;
}



/*.packages {*/
    /*width: 896px;*/
    /*height: 1916px;*/
/*}*/

.packages {
    background: #102831;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.packages .title span {
    font-size: 20px;
    line-height: 50px;
    color: #2baf68;
    font-weight: bold;
}

.packages .title h1 {
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
    color: #ffffff;
}

.packages .optimum span {
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
    color: #ffc638;
    text-transform: uppercase;
}

.packages .items [class*="icon"] {
    font-size: 40px;
    color: #ffc638;
}

.packages .items .one {
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
}

.packages .items .two {
    font-size: 16px;
    line-height: 26px;
    color: #ffc638;
}

.packages .item [class*="icon"] {
    font-size: 65px;
    color: #ffc638;
}

.packages .item .black {
    font-size: 16px;
    font-weight: bold;
    color: #102831;
}

.packages .item span {
    font-size: 16px;
    color: #ffffff;
}

/*ПОЗИЦИОНИРОВАНИЕ БЛОКА PACKAGES*/

.packages {
    margin-top: 120px;
}

.packages .left {
    width: 40%;
    float: left;
}

.packages .left .title {
    padding-top: 120px;
    text-transform: uppercase;
}

.packages .left .optimum {
    margin-top: 50px;
    margin-bottom: 45px;
}

.packages .left .items {
    display: block;
    margin-bottom: 45px;
}

.packages .items .text {
    display: inline-block;
    padding-left: 28px;
}

.option {
    width: 60%;
    float: left;
}

.option .planItem .item {
    background-color: #2baf68;
}

.option .planItem {
    display:inline-block;
    margin-top: 135px;
    margin-left: 30px;
    width: 190px;
    height: 197px;
    text-align: center;
    vertical-align: middle;
    float:left;
    padding-left: 15px;
    padding-right: 15px;
}

.option .item {
    display: inline-block;
    padding: 30px 60px;
    text-align: center;
}

.option .item span {
    display: block;

}

.calculation .left {
    width: 33.3333%;
    float: left;
    display: block;
}

.inputDark {
    float: left;
    display: block;
    padding-left: 40px;
    padding-top: 45px;
    margin-bottom: 22px;
}

.inputDark input {
    width: 321px;
    height: 52px;
}

.selectDark {
    display: block;
    padding-left: 40px;
}

.selectDark select {
    width: 321px;
    height: 52px;
}

.calculation .middle {
    width: 33.3333%;
    float: left;
    display: block;
    padding-left: 40px;
    padding-top: 45px;
    text-align: center;
}

.calculation .btnGreen a {
    width: 250px;
    height: 53px;
    display: block;
    margin-top: 10px;
    margin-left: 50px;
    border-radius: 52px;
    box-shadow: 16px 0 21px 0 rgba(0,0,0,0.21);
}

.calculation .btnGreen a {
    padding-top: 8px;
}

.calculation .right {
    width: 33.3333%;
    display: table;
    float: left;
    padding-top: 39px;
    text-align: left;
}

.calculation .right li {
    display: table-row;
    height: 48px;
}

.calculation .right li span {
    display: table-cell;
    vertical-align: middle;
    padding-right: 20px;
}

.calculation .right .one {
    padding-left: 55px;
}

.calculation .down .refer {
    width: 30%;
    float: left;
    text-align: center;
    vertical-align: middle;
    margin-top: 70px;
    box-shadow: 3px 0 21px 0 rgba(0,0,0,0.11);
}

.calculation .down .per {
    width: 70%;
    float: left;
    text-align: center;
    vertical-align: middle;
    height: 55px;
    padding-top: 8px;
    margin-top: 70px;
    box-shadow: 3px 0 21px 0 rgba(0,0,0,0.11);
}

/*ПОЗИЦИОНИРОВАНИЕ БЛОКА PACKAGES*/

.calculation {
    background-color: #2b3f44;
    margin-top: 131px;
    box-shadow: 3px 0 21px 0 rgba(0,0,0,0.11);
}

.calculation label {
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
}

.calculation input {
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background-color: #0d1f26;
    box-shadow: inset 3px 0 7px 0 rgba(0,0,0,0.100);
    border: none;
}

.calculation select {
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background-color: #0d1f26;
    box-shadow: inset 3px 0 7px 0 rgba(0,0,0,0.100);
    border: none;
}

.calculation .common {
    font-size: 18px;
    line-height: 50px;
    font-weight: bold;
    color: #2baf68;
    text-transform: uppercase;
}

.calculation .sum {
    font-size: 48px;
    line-height: 50px;
    font-weight: bold;
    color: #ffffff;
}

.calculation .btnGreen a {
    font-size: 16px;
    line-height: 36px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.calculation .right .one {
    font-size: 18px;
    line-height: 65px;
    color: #2baf68;
    font-weight: bold;
    text-transform: uppercase;
}

.calculation .right .two {
    font-size: 18px;
    line-height: 65px;
    font-weight: bold;
    color: #ffffff;
}

.calculation .down .refer {
    font-size: 20px;
    line-height: 55px;
    color: #ffffff;
    background-color: #2baf68;
}

.calculation .down .per {
    font-size: 30px;
    line-height: 40px;
    color: #102831;
    background-color: #ffc638;
}

/*ПОЗИЦИОНИРОВАНИЕ БЛОКА RESULTS*/

.results {
    padding-top: 300px;
    padding-bottom: 110px;
}

/*ПОЗИЦИОНИРОВАНИЕ БЛОКА RESULTS*/

.results {
    background-color: #ffffff;
}

.results span {
    font-size: 20px;
    line-height: 50px;
    color: #2baf68;
    font-weight: bold;
    text-transform: uppercase;
}

.results h1 {
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
    color: #11252d;
    text-transform: uppercase;
}

.results p {
    font-size: 16px;
    line-height: 26px;
    color: #11252d;
}

/*ПОЗИЦИОНИРОВАНИЕ БЛОКА STEPS*/

.steps .item {
    width: 25%;
    float: left;
    display: block;
    margin-top: 123px;
    margin-bottom: 100px;
    text-align: center;
    vertical-align: middle;
}

.steps .image {
    padding-bottom: 90px;
}

/*ПОЗИЦИОНИРОВАНИЕ БЛОКА STEPS*/

/*.steps {*/
    /*width: 489px;*/
    /*height: 1918px;*/
/*}*/

.steps {
    background: #102831;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 3px 0 21px 0 rgba(0,0,0,0.11);
}

.steps .item .image {
    font-size: 80px;
    color: #47c481;
}

.steps .item .one {
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    color: #2baf68;
}

.steps .item .two {
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    color: #ffffff;
}

.steps .item .textLight {
    font-size: 14px;
    line-height: 30px;
    color: #ffffff;
}

/*ПОЗИЦИОНИРОВАНИЕ БЛОКА STATISTIC*/

.last {
    width: 50%;
    float: left;
    margin-bottom: 115px;
    margin-top: 120px;
}

.last .line {
    display: table;
    width: 100%;
    margin-top: 65px;
}

.last .line li {
    display: table-row;
    height: 29px;
}

.last .line li span {
    display: table-cell;
    vertical-align: middle;
    border-bottom: 1px solid #dfe5e8;
}

.last .line li .one {
    width: 256px;
}

.last .line li .two {
    width: 256px;
}

.last .line li .three {
    text-align: right;
}

.second .titleDark {
    padding-left: 23px;
}

.second .line li .one {
    width: 256px;
    padding-left: 23px;
}

.second .line li .two {
    width: 256px;
    padding-left: 23px;
}

.second .line li .three {
    text-align: right;
    padding-left: 23px;
}

/*ПОЗИЦИОНИРОВАНИЕ БЛОКА STATISTIC*/

.statistic {
    background-color: #ffffff;
}

.statistic .titleDark span {
    font-size: 20px;
    line-height: 50px;
    font-weight: bold;
    color: #2baf68;
}

.statistic .titleDark h1 {
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
    color: #11252d;
}

.statistic .line .one {
    font-size: 15px;
    line-height: 30px;
    font-weight: bold;
    color: #2baf68;
}

.statistic .line .two {
    font-size: 15px;
    line-height: 30px;
    color: #11252d;
}

.statistic .line .three {
    font-size: 15px;
    line-height: 30px;
    font-weight: bold;
    color: #ffb600;
}

/*.map {*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/

/*.map iframe {*/
    /*width: 100%;*/
    /*height: 500px;*/
/*}*/

/*ПОЗИЦИОНИРОВАНИЕ БЛОКА NEWS*/

.news .titleDark {
    width: 80%;
    float: left;
    margin-top: 120px;
    text-transform: uppercase;
}

.news a {
    width: 20%;
    float: right;
    padding: 10px 45px;
    margin-top: 155px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 52px;
}

.perPay .first {
    display: inline-block;
    margin-top: 70px;
    padding-right: 44px;
}

.perPay .second {
    display: inline-block;
    margin-top: 70px;
}

.payDoub {
    width: 278px;
    height: 269px;
    float: left;
    background-color: #ffffff;
    padding-top: 10px;
    padding-left: 30px;
    box-shadow: 3px 0 21px 0 rgba(0,0,0,0.11);
}

.perPay .image {
    display: inline-block;
}

.friends {
    position: relative;
    z-index: 1;
    bottom: -85px;
    box-shadow: 3px 0 21px 0 rgba(0,0,0,0.11);
}

.partners {
    display: table;
    width: 1170px;
    height: 170px;
    padding: 65px 55px;
    margin-top: 137px;
}

.partners li {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 0 25px;
}

/*ПОЗИЦИОНИРОВАНИЕ БЛОКА NEWS*/

.news {
    background-color: #f0f1f1;
    box-shadow: 3px 0 21px 0 rgba(0,0,0,0.11);
}

.news .allNews span {
    font-size: 20px;
    line-height: 50px;
    color: #2baf68;
}

.news .allNews h1 {
    font-size: 40px;
    line-height: 50px;
    color: #11252d;
}

.news .allNews .btnYellow a {
    font-size: 16px;
    line-height: 36px;
    font-weight: bold;
    color: #102831;
    text-decoration: none;
    box-shadow: 3px 0 21px 0 rgba(0,0,0,0.11);
}

.news .payDoub .one {
    font-size: 13px;
    line-height: 70px;
    color: #ffffff;
    background-color: #2baf68;
    padding: 10px 0;
    padding-left: 14px;
    padding-right: 24px;
    border-radius: 27px;
}

.news .payDoub .two {
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    color: #102831;
}

.footer {
    position: absolute;
    z-index: -1;
    background-color: #102831;
    box-shadow: 3px 0 21px 0 rgba(0,0,0,0.11);
}

footer .wrap {
    width: 100%;
    float: left;
    margin-top: 140px;
}

footer .paper {
    display: inline-block;
    float: left;
    box-shadow: 0 30px 29px 10px rgba(0,0,0,0.11);
    border: 1px solid #ffffff;
    width: 157px;
    height: 215px;
}

footer .contacts {
    display: inline-block;
    float: left;
    margin-left: 75px;
    padding-top: 10px;
}

footer .icons {
    display: block;
    float: left;
    margin-top: -9px;
}

footer .adress p {
    display: block;
    float: left;
    margin-top: -9px;
}

footer .icons1 {
    display: block;
    float: left;
}

footer .post {
    display: block;
    float: left;
}

footer .email {
    display: block;
    float: left;
    margin-top: 15px;
}

footer .contacts span {
    margin-right: 20px;
}

footer .infoItem {
    display: inline-block;
    margin-top: -13px;
}

footer .infoItem li {
    display: block;
    text-align: left;
    padding-left: 110px;
}

footer .logo {
    margin-top: 50px;
    text-align: center;
    vertical-align: middle;
}

footer .socItem {
    display: block;
    background-color: #ffc638;
}

footer .socItem li {
    display: inline-block;
    float: right;
}

footer .socItem li + li {
    margin-right: 35px;
}

footer .icon-point {
    font-size: 25px;
    color: #ffc638;
}

footer .icon-envelope {
    font-size: 25px;
    color: #ffc638;
}

footer p {
    font-size: 15px;
    font-weight: normal;
    line-height: 29px;
    color: #ffffff;
}

footer .post {
    font-size: 15px;
    font-weight: normal;
    line-height: 29px;
    color: #ffffff;
}

footer .link1 {
    font-size: 16px;
    font-weight: normal;
    line-height: 29px;
    color: #ffc638;
    text-decoration: none;
}

footer .infoItem a {
    font-size: 15px;
    font-weight: normal;
    line-height: 40px;
    color: #ffffff;
    text-decoration: none;
}

footer .socItem a {
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    display: block;
    border-radius: 50%;
    border: 1px solid #102831;
    line-height: 30px;
    width: 30px;
    vertical-align: center;
}

footer .copyright {
    background-color: #ffffff;
}

footer .copyright {
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    color: #102831;
}



/*ВТОРАЯ СТРАНИЦА ДИПЛОМНОГО ПРОЕКТА*/


/*НАЧАЛО ПОЗИЦИОНИРОВАНИЕ БЛОКА TITINVEST*/

.titInvest {
    width: 100%;
    height: 325px;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    margin-top: -51px;
}

.titInvest .title span {
    display: block;
    font-size: 90px;
    line-height: 100px;
    font-weight: bold;
    color: #ffffff;
    padding-top: 110px;
}

/*КОНЕЦ ПОЗИЦИОНИРОВАНИЕ БЛОКА TITINVEST*/

/*НАЧАЛО ПОЗИЦИОНИРОВАНИЯ БЛОКА PACKET*/

/*INFOSTEPS*/

.packet .tumbNail {
    font-size: 20px;
    line-height: 40px;
    color: #11252d;
    text-align: center;
    font-weight: bold;
    margin-top: 120px;
    text-transform: uppercase;
}

.packet .icon-screen {
    font-size: 80px;
    color: #ffc638;
}

.packet .icon-coins {
    font-size: 80px;
    color: #ffc638;
}

.packet .icon-graph {
    font-size: 80px;
    color: #ffc638;
}

.packet .icon-hand {
    font-size: 80px;
    color: #ffc638;
}

/*КОНЕЦ INFOSTEPS*/

/*MIDDLE*/

.middle .title {
    width: 30%;
    float: left;
    padding-top: 120px;
}

.middle .text {
    width: 70%;
    float: right;
    padding-top: 135px;
    padding-left: 70px;
}

.middle .title span {
    font-size: 20px;
    line-height: 50px;
    color: #2baf68;
    font-weight: bold;
    text-transform: uppercase;
}

.middle .title h3 {
    font-size: 40px;
    line-height: 50px;
    color: #11252d;
}

.middle .textOne {
    font-size: 16px;
    line-height: 26px;
    color: #11252d;
    font-weight: normal;
}

.middle .textTwo {
    font-size: 16px;
    line-height: 26px;
    color: #11252d;
    font-weight: normal;
    margin-top: 37px;
}

/*КОНЕЦ MIDDLE*/

/*DOWN*/

/*PACKONE*/

.packet input {
    display: none;
}

.packOne .point {
    width: 20%;
    float: left;
    display: block;
    text-align: center;
    margin-top: 145px;
}

.packOne .item {
    background-color: #2baf68;
    display: block;
    width: 200px;
    height: 200px;
    padding-top: 20px;
}

.packOne span {
    display: block;
}

.packet .item [class*="icon"] {
    font-size: 75px;
    color: #ffffff;
}

.packet .item .black {
    font-size: 16px;
    font-weight: bold;
    color: #102831;
}

.packet .item span {
    font-size: 25px;
    color: #ffffff;
}

/*КОНЕЦ PACKONE*/

/*INFO*/

.packet .item3 {
    width: 30%;
    float: left;
    margin-top: 60px;
    display: block;
    padding-left: 38px;
    padding-bottom: 23px;
    border: 1px solid #dfe5e8;
    margin-left: 28px;
}

.points {
    margin-left: -28px;
}

.packet .icons {
    display: inline-block;
    padding-left: 23px;
}

.packet .item3 [class*="icon"] {
    font-size: 40px;
    color: #ffc638;
}

.packet .item3 .one {
    font-size: 16px;
    line-height: 26px;
    color: #11252d;
}

.packet .item3 .two {
    display: block;
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;
    color: #11252d;
}


/*КОНЕЦ INFO*/

/*PACKTWO*/

.packTwo .item {
    background-color: #2baf68;
    display: block;
    width: 200px;
    height: 200px;
    padding-top: 20px;
    margin-top: 60px;
    text-transform: uppercase;
}

.packTwo .item2 {
    background-color: #ceecdc;
    display: block;
    width: 200px;
    height: 200px;
    margin-top: 60px;
}

.packet .item2 .icon-cup {
    margin-top: -20px;
}

.packet .item2 .icon-swim {
    margin-top: -20px;
}

.packet .item2 .icon-bike {
    margin-top: -20px;
}

.packet .item2 .black {
    font-size: 16px;
    font-weight: bold;
    color: #102831;
    margin-top: -0px;
}

.packet .item2 span {
    font-size: 25px;
    color: #ffffff;
}

.point2 .item2 .one {
    font-size: 16px;
    line-height: 22px;
    color: #6c8e7c;
}

.packet .item2 [class*="icon"] {
    font-size: 75px;
    color: #ffffff;
}

.packTwo .point {
    width: 20%;
    float: left;
    display: block;
    text-align: center;
}

.packTwo .point2 {
    width: 20%;
    float: left;
    display: block;
    text-align: center;
}

.packTwo span {
    display: block;
}

/*КОНЕЦ PACKTWO*/

/*КОНЕЦ ПОЗИЦИОНИРОВАНИЯ БЛОКА PACKET*/


/*НАЧАЛО ПОЗИЦИОНИРОВАНИЕ БЛОКА InfoSTEPS*/

.infoSteps .item {
    width: 25%;
    float: left;
    display: block;
    margin-top: 123px;
    margin-bottom: 100px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #dfe5e8;
}

.infoSteps .image {
    margin-top: 70px;
    margin-bottom: 75px;
}

/*КОНЕЦ ПОЗИЦИОНИРОВАНИЕ БЛОКА InfoSTEPS*/

.infoSteps .item .icon-screen {
    font-size: 80px;
    color: #ffc638;
}

.infoSteps .item .icon-coins {
    font-size: 80px;
    color: #ffc638;
}

.infoSteps .item .icon-graph {
    font-size: 80px;
    color: #ffc638;
}

.infoSteps .item .icon-hand {
    font-size: 80px;
    color: #ffc638;
}

.infoSteps .item .one {
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    color: #2baf68;
    text-transform: uppercase;
}

.infoSteps .item .two {
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    color: #2baf68;
    text-transform: uppercase;
}

.infoSteps .item .textLight {
    font-size: 14px;
    line-height: 30px;
    color: #11252d;
    padding-bottom: 43px;
}

/*НАЧАЛО ПОЗИЦИОНИРОВАНИЕ БЛОКА CHOISE*/

.choise {
    position: relative;
    z-index: 1;
    bottom: -85px;
}

.choise .partners {
    display: table;
    width: 1170px;
    height: 170px;
    padding: 65px 55px;
}

.choise .partners li {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 0 25px;
}

/* КОНЕЦ ПОЗИЦИОНИРОВАНИЕ БЛОКА CHOISE*/


.calcul .left {
    width: 33.3333%;
    float: left;
    display: block;
}

.inputDark {
    float: left;
    display: block;
    padding-left: 40px;
    padding-top: 45px;
    margin-bottom: 22px;
}

.inputDark input {
    width: 321px;
    height: 52px;
}

.selectDark {
    display: block;
    padding-left: 40px;
}

.selectDark select {
    width: 321px;
    height: 52px;
}

.calcul .center {
    width: 33.3333%;
    float: left;
    display: block;
    padding-left: 40px;
    padding-top: 45px;
    text-align: center;
}

.calcul .btnYellow a {
    width: 250px;
    height: 53px;
    display: block;
    margin-top: 10px;
    margin-left: 50px;
    border-radius: 52px;

}

.calcul .btnYellow a {
    padding-top: 8px;
}

.calcul .right {
    width: 33.3333%;
    display: table;
    float: left;
    padding-top: 39px;
    text-align: left;
}

.calcul .right li {
    display: table-row;
    height: 48px;
}

.calcul .right li span {
    display: table-cell;
    vertical-align: middle;
    padding-right: 20px;
}

.calcul .right .one {
    padding-left: 55px;
}

.calcul {
    background-color: #2b3f44;
    margin-top: 118px;
    box-shadow: 3px 021px 0 rgba(0,0,0,0.11);
}

.calcul label {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
}

.calcul input {
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    box-shadow: 3px 0 21px 0 rgba(0,0,0,0.11);
    border: none;
}

.calcul select {
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    box-shadow: 3px 0 21px 0 rgba(0,0,0,0.11);
    border: none;
}

.calcul .pay {
    font-size: 18px;
    line-height: 50px;
    font-weight: bold;
    color: #2baf68;
    text-transform: uppercase;
}

.calcul .summa {
    font-size: 48px;
    line-height: 50px;
    font-weight: bold;
    color: #000000;
}

.calcul .btnYellow a {
    font-size: 16px;
    line-height: 36px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 16px 0 21px 0 rgba(0,0,0,0.21);
}

.calcul .right .one {
    font-size: 18px;
    line-height: 65px;
    color: #2baf68;
    font-weight: bold;
    text-transform: uppercase;
}

.calcul .right .two {
    font-size: 18px;
    line-height: 65px;
    font-weight: bold;
    color: #000000;
}








