* {
    box-sizing: border-box;
}

body {
    max-width: 1920px;
    margin: 0 auto;
    font-family: "Brutal Type";
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.clear::after {
    content: "";
    display: block;
    clear: both;
}

/*ПОЗИЦИОНИРОВАНИЕ БЛОКА HEADER*/

.topLine {
    width: 70%;
    display: inline-block;
}

.topLine .socItem {
    display: inline-block;
    text-align: center;
}

.topLine .socItem li {
    display: inline-block;
    padding-top: 30px;
}

.topLine .socItem li + li {
    margin-left: 25px;
}

.topLine .time {
    display: inline-block;
}

.logReg {
    display: inline-block;
    padding-left: 65px;
}

.logReg .one{
    margin-right: 30px;
}

.infoItem li {
    display: inline-block;
}

.infoItem li + li {
    margin-left: 50px;
}

.logo {
    width: 30%;
    float: right;
    text-align: center;
    padding-top: 30px;
}

/*ПОЗИЦИОНИРОВАНИЕ БЛОКА HEADER*/

header .socItem a {
    font-size: 20px;
    color: #102831;
    text-decoration: none;
}

header .time {
    font-size: 20px;
    line-height: 36px;
    width: 125px;
    height: 22px;
    color: #ffffff;
    background-color: #2baf68;
    margin-left: 106px;
}

header .logReg a {
    font-size: 20px;
    line-height: 36px;
    color: #11252d;
    text-decoration: none;
}

header .logReg .one {
    font-size: 13px;
    line-height: 36px;
    color: #11252d;
    text-decoration: underline;
}

header .infoItem a {
    font-size: 16px;
    line-height: 36px;
    color: #11252d;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
}

header .infoItem a:visited {
    font-size: 16px;
    line-height: 36px;
    color: #11252d;
    text-decoration: none;
    font-weight: 700;
}

header .infoItem a:hover {
    font-size: 16px;
    line-height: 36px;
    color: #11252d;
    text-decoration: underline;
    font-weight: 700;
}

/*.banner {*/
    /*width: 1920px;*/
    /*height: 910px;*/
/*}*/

.banner {
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -11px;
}

.banner .titleLight {
    padding-top: 280px;
}

.banner .titleLight span {
    font-size: 40px;
    line-height: 80px;
    color: #ffffff;
}

.banner .titleLight h2 {
    font-size: 90px;
    font-weight: bold;
    line-height: 100px;
    color: #ffffff;
    text-transform: uppercase;
}

.banner .btnGreen {
    padding-top: 55px;
    padding-right: 380px;
    font-weight: bold;
}

.banner a {
    font-size: 16px;
    line-height: 36;
    color: #ffffff;
    background-color: #2baf68;
    text-decoration: none;
    padding: 20px 50px 20px 50px;
}

.portfolio .descrip {
    width: 30%;
    float: left;
    padding-top: 120px;
}

.portfolio .text {
    width: 70%;
    float: right;
    padding-top: 135px;
}

.portfolio .tumbNail {
    margin-top: 40px;
}

.portfolio .titleDark {
    text-transform: uppercase;
}

.portfolio {
    background-color: #ffffff;
}

.portfolio .descrip span {
    font-size: 20px;
    line-height: 50px;
    color: #2baf68;
}

.portfolio .descrip h1 {
    font-size: 40px;
    line-height: 50px;
    color: #11252d;
}

.portfolio .btnYellow {
    margin-top: 105px;
}

.portfolio .descrip a {
    font-size: 16px;
    line-height: 36px;
    color: #11252d;
    background-color: #ffc638;
    text-decoration: none;
    font-weight: bold;
    padding: 20px 50px;
}

.portfolio .textDark {
    font-size: 16px;
    line-height: 26px;
    color: #11252d;
}

.portfolio .tumbNail {
    font-size: 16px;
    line-height: 26px;
    color: #11252d;
    font-weight: bold;
}

.support {
    width: 985px;
    height: 570px;
}

.support {
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.advantages {
    margin-top: 105px;
    position: relative;
}

.advantages .item {
    padding-top: 145px;
    padding-left: 75px;
}

.advantages .tecSup {
    margin-top: 65px;
    padding-left: 75px;
    text-transform: uppercase;
}

.advantages .textLight {
    margin-top: 65px;
    padding-left: 75px;
}

.advantages .item .icon-head {
    font-size: 110px;
    line-height: 111px;
    color: #ffc638;
}

.advantages .tecSup {
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
    color: #ffffff;
}

.advantages .textLight {
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
}


.catalog {
    width: 360px;
    height: 465px;
    padding-top: 35px;
    position: absolute;
    top: 50px;
    right: 0;
}

.catalog .line {
    display: inline-block;
    padding-left: 45px;
    padding-right: 45px;
    vertical-align: center;
    text-align: center;
}

.catalog .one {
    display: inline-block;
    vertical-align: center;
    text-align: left;
}

.portfolio .catalog a {
    font-size: 18px;
    line-height: 26px;
    color: #999999;
    text-decoration: none;
    padding-bottom: 10px;
}

.portfolio .catalog span {
    font-size: 40px;
    color: #ffffff;
}

.portfolio .catalog .one {
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
    font-weight: bold;
}



/*.packages {*/
    /*width: 896px;*/
    /*height: 1916px;*/
/*}*/

.packages {
    background: #102831;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.packages .title span {
    font-size: 20px;
    line-height: 50px;
    color: #2baf68;
    font-weight: bold;
}

.packages .title h1 {
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
    color: #ffffff;
}

.packages .optimum span {
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
    color: #ffc638;
    text-transform: uppercase;
}

.packages .items [class*="icon"] {
    font-size: 40px;
    color: #ffc638;
}

.packages .items .one {
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
}

.packages .items .two {
    font-size: 16px;
    line-height: 26px;
    color: #ffc638;
}

.packages .item [class*="icon"] {
    font-size: 65px;
    color: #ffc638;
}

.packages .item .black {
    font-size: 16px;
    font-weight: bold;
    color: #102831;
}

.packages .item span {
    font-size: 16px;
    color: #ffffff;
}

/*ПОЗИЦИОНИРОВАНИЕ БЛОКА PACKAGES*/

.packages {
    margin-top: 120px;
}

.packages .left {
    width: 50%;
    float: left;
}

.packages .left .title {
    padding-top: 120px;
    text-transform: uppercase;
}

.packages .left .optimum {
    margin-top: 50px;
    margin-bottom: 45px;
}

.packages .left .items {
    display: block;
    margin-bottom: 45px;
}

.option {
    width: 50%;
    float: left;
}

.option .planItem .item {
    background-color: #2baf68;
    height: 200px;
}

.option .planItem {
    display: inline-block;
    margin-top: 120px;
    width: 190px;
    text-align: center;
    padding-top: 30px;
    float:left;
    padding-left: 15px;
    padding-right: 15px;
}

.option .item {
    padding-top: 30px;
}

.calculation .left {
    width: 33.3333%;
    float: left;
    display: block;
}

.inputDark {
    float: left;
    display: block;
    padding-left: 40px;
    padding-top: 45px;
    margin-bottom: 22px;
}

.inputDark input {
    width: 321px;
    height: 52px;
}

.selectDark {
    display: block;
    padding-left: 40px;
}

.selectDark select {
    width: 321px;
    height: 52px;
}

.calculation .middle {
    width: 33.3333%;
    float: left;
    display: block;
    padding-left: 40px;
    padding-top: 45px;
    text-align: center;
}

.calculation .middle .sum {
    padding-top: 30px;
}

.calculation .middle .btnGreen a {
    padding-top: 30px;
}

.calculation .right {
    width: 33.3333%;
    display: table;
    float: left;
    padding-top: 39px;
    text-align: left;
}

.calculation .right li {
    display: table-row;
    height: 48px;
}

.calculation .right li span {
    display: table-cell;
    vertical-align: middle;
    padding-right: 20px;
}

.calculation .right .one {
    padding-left: 55px;
}

.calculation .down .refer {
    width: 30%;
    float: left;
    text-align: center;
    vertical-align: middle;
    margin-top: 70px;
}

.calculation .down .per {
    width: 70%;
    float: left;
    text-align: center;
    vertical-align: middle;
    height: 55px;
    padding-top: 8px;
    margin-top: 70px;
}

/*ПОЗИЦИОНИРОВАНИЕ БЛОКА PACKAGES*/

.calculation {
    background-color: #2b3f44;
}

.calculation label {
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
}

.calculation input {
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
}

.calculation select {
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
}

.calculation .common {
    font-size: 18px;
    line-height: 50px;
    font-weight: bold;
    color: #2baf68;
    text-transform: uppercase;
}

.calculation .sum {
    font-size: 48px;
    line-height: 50px;
    font-weight: bold;
    color: #ffffff;
}

.calculation .btnGreen {
    font-size: 16px;
    line-height: 36px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    background-color: #2baf68;
    text-transform: uppercase;
}

.calculation .right .one {
    font-size: 18px;
    line-height: 65px;
    color: #2baf68;
    font-weight: bold;
    text-transform: uppercase;
}

.calculation .right .two {
    font-size: 18px;
    line-height: 65px;
    font-weight: bold;
    color: #ffffff;
}

.calculation .down .refer {
    font-size: 20px;
    line-height: 55px;
    color: #ffffff;
    background-color: #2baf68;
}

.calculation .down .per {
    font-size: 30px;
    line-height: 40px;
    color: #102831;
    background-color: #ffc638;
}

/*ПОЗИЦИОНИРОВАНИЕ БЛОКА RESULTS*/

.results {
    padding-top: 300px;
    padding-bottom: 110px;
}

/*ПОЗИЦИОНИРОВАНИЕ БЛОКА RESULTS*/

.results {
    background-color: #ffffff;
}

.results span {
    font-size: 20px;
    line-height: 50px;
    color: #2baf68;
    font-weight: bold;
    text-transform: uppercase;
}

.results h1 {
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
    color: #11252d;
    text-transform: uppercase;
}

.results p {
    font-size: 16px;
    line-height: 26px;
    color: #11252d;
}

/*ПОЗИЦИОНИРОВАНИЕ БЛОКА STEPS*/

.steps .item {
    width: 25%;
    float: left;
    display: block;
    margin-top: 123px;
    margin-bottom: 100px;
    text-align: center;
    vertical-align: middle;
}

.steps .image {
    margin-bottom: 95px;
}

/*ПОЗИЦИОНИРОВАНИЕ БЛОКА STEPS*/

/*.steps {*/
    /*width: 489px;*/
    /*height: 1918px;*/
/*}*/

.steps {
    background: #102831;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.steps .item .image {
    font-size: 80px;
    color: #47c481;
}


.steps .item .one {
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    color: #2baf68;
}

.steps .item .two {
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    color: #ffffff;
}

.steps .item .textLight {
    font-size: 14px;
    line-height: 30px;
    color: #ffffff;
}

/*ПОЗИЦИОНИРОВАНИЕ БЛОКА STATISTIC*/

.last {
    width: 50%;
    float: left;
    margin-bottom: 115px;
    margin-top: 120px;
}

.last .line {
    display: table;
    width: 100%;
    margin-top: 65px;
}

.last .line li{
    display: table-row;
    height: 29px;
}

.last .line li span {
    display: table-cell;
    vertical-align: middle;
}

.last .line li .one {
    width: 256px;
}

.last .line li .two {
    width: 256px;
}

.last .line li .three {
    text-align: right;
}

.second .titleDark {
    padding-left: 23px;
}

.second .line li .one {
    width: 256px;
    padding-left: 23px;
}

.second .line li .two {
    width: 256px;
    padding-left: 23px;
}

.second .line li .three {
    text-align: right;
    padding-left: 23px;
}

/*ПОЗИЦИОНИРОВАНИЕ БЛОКА STATISTIC*/

.statistic {
    background-color: #ffffff;
}

.statistic .titleDark span {
    font-size: 20px;
    line-height: 50px;
    font-weight: bold;
    color: #2baf68;
}

.statistic .titleDark h1 {
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
    color: #11252d;
}

.statistic .line .one {
    font-size: 15px;
    line-height: 30px;
    font-weight: bold;
    color: #2baf68;
}

.statistic .line .two {
    font-size: 15px;
    line-height: 30px;
    color: #11252d;
}

.statistic .line .three {
    font-size: 15px;
    line-height: 30px;
    font-weight: bold;
    color: #ffb600;
}

/*ПОЗИЦИОНИРОВАНИЕ БЛОКА NEWS*/

.news .titleDark {
    width: 80%;
    float: left;
    margin-top: 120px;
    text-transform: uppercase;
}

.news a {
    width: 20%;
    float: right;
    padding: 10px 45px;
    margin-top: 155px;
    text-transform: uppercase;
    text-align: center;
}

.perPay .first {
    display: inline-block;
    margin-top: 70px;
    padding-right: 44px;
}

.perPay .second {
    display: inline-block;
    margin-top: 70px;
}

.payDoub {
    width: 278px;
    height: 269px;
    float: left;
    background-color: #ffffff;
    padding-top: 10px;
    padding-left: 30px;
}

.perPay .image {
    display: inline-block;
}

.friends {
    position: relative;
    z-index: 1;
    bottom: -85px;
}

.partners {
    display: table;
    width: 1170px;
    height: 170px;
    padding: 65px 55px;
    margin-top: 137px;
}

.partners li {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 0 25px;
}

/*ПОЗИЦИОНИРОВАНИЕ БЛОКА NEWS*/

.news {
    background-color: #f0f1f1
}

.news .allNews span {
    font-size: 20px;
    line-height: 50px;
    color: #2baf68;
}

.news .allNews h1 {
    font-size: 40px;
    line-height: 50px;
    color: #11252d;
}

.news .allNews .btnYellow {
    font-size: 16px;
    line-height: 36px;
    font-weight: bold;
    color: #102831;
    text-decoration: none;
    background-color: #ffc638;
}

.news .payDoub .one {
    font-size: 13px;
    line-height: 70px;
    color: #ffffff;
    background-color: #2baf68;
    padding: 10px 0;
    padding-left: 14px;
    padding-right: 24px;
}

.news .payDoub .two {
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    color: #102831;
}

.footer {
    position: absolute;
    z-index: -1;
    background-color: #102831;
}

footer .wrap {
    width: 100%;
    float: left;
    margin-top: 140px;
}

footer .paper {
    display: inline-block;
    float: left;
}

footer .contacts {
    display: inline-block;
    margin-left: 75px;
}

footer .icons {
    display: block;
    float: left;
    margin-top: -10px;
}

footer .adress p {
    display: block;
    float: left;
    margin-top: -10px;
}

footer .icons1 {
    display: block;
    float: left;
}

footer .post {
    display: block;
    float: left;
}

footer .contacts span {
    margin-right: 20px;
}

footer .infoItem {
    display: inline-block;
}

footer .infoItem li {
    display: block;
}

footer .logo {
    margin-top: 50px;
    text-align: center;
    vertical-align: middle;
}

footer .socItem {
    display: block;
    background-color: #ffc638
}

footer .socItem li {
    display: inline-block;
    float: right;
}

footer .socItem li + li {
    margin-right: 35px;
}

footer .icon-point {
    font-size: 25px;
    color: #ffc638;
}

footer .icon-envelope {
    font-size: 25px;
    color: #ffc638;
}

footer p {
    font-size: 15px;
    font-weight: normal;
    line-height: 29px;
    color: #ffffff;
}

footer .post {
    font-size: 15px;
    font-weight: normal;
    line-height: 29px;
    color: #ffffff;
}

footer .link1 {
    font-size: 16px;
    font-weight: normal;
    line-height: 29px;
    color: #ffc638;
    text-decoration: none;
}

footer .infoItem a {
    font-size: 15px;
    font-weight: normal;
    line-height: 40px;
    color: #ffffff;
    text-decoration: none;
}

footer .socItem a {
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
}

footer .copyright {
    background-color: #ffffff;
}

footer .copyright {
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    color: #102831;
}

.banner2 :nth-child {
    width: 327px;
    height: 1916px;
}

.banner2 {
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banner2 .titInvest {
    font-size: 90px;
    line-height: 100px;
    font-weight: bold;
    color: #ffffff;
}

.packet .tumbNail {
    font-size: 20px;
    line-height: 40px;
    font-weight: normal;
    color: #11252d;
}

.packet .icon-screen {
    font-size: 80px;
    color: #ffc638;
}

.packet .icon-coins {
    font-size: 80px;
    color: #ffc638;
}

.packet .icon-graph {
    font-size: 80px;
    color: #ffc638;
}

.packet .icon-hand {
    font-size: 80px;
    color: #ffc638;
}

.packet .items .one {
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    color: #2baf68;
}

.packet .items .textDark {
    font-size: 14px;
    line-height: 22px;
    color: #11252d;
}

.packet .titleDark span {
    font-size: 20px;
    line-height: 50px;
    color: #2baf68;
}

.packet .titleDark h3 {
    font-size: 40px;
    line-height: 50px;
    font-weight: bold;
    color: #11252d;
}

.packet .packone .item {
    background-color: #2baf68;
}

.packet .item [class*="icon"] {
    font-size: 75px;
    color: #ffffff;
}

.packet .item .black {
    font-size: 16px;
    font-weight: bold;
    color: #102831;
}

.packet .item span {
    font-size: 25px;
    color: #ffffff;
}

.packtwo .item {
    background-color: #2baf68;
}

.packtwo .item2 {
    background-color: #ceecdc;
}

.packet .item2 .black {
    font-size: 16px;
    font-weight: bold;
    color: #102831;
}

.packet .item2 span {
    font-size: 25px;
    color: #ffffff;
}

.packet .item3 [class*="icon"] {
    font-size: 40px;
    color: #ffc638;
}

.packet .item3 .one {
    font-size: 16px;
    line-height: 26px;
    color: #11252d;
}

.packet .item3 .two {
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;
    color: #11252d;
}

/*ПОЗИЦИОНИРОВАНИЕ БЛОКА PACKAGES*/


.calcul .left {
    width: 33.3333%;
    float: left;
    display: block;
}

.calcul .inputDark {
    float: left;
    display: block;
    padding-left: 40px;
    padding-top: 45px;
    margin-bottom: 22px;
}

.calcul .inputDark input {
    width: 321px;
    height: 52px;
}

.calcul .selectDark {
    display: block;
    padding-left: 40px;
}

.calcul .selectDark select {
    width: 321px;
    height: 52px;
}

.calcul .middle {
    width: 33.3333%;
    float: left;
    display: block;
    padding-left: 40px;
    padding-top: 45px;
    text-align: center;
}

.calcul .middle .sum {
    padding-top: 30px;
}

.calcul .middle .btnGreen a {
    padding-top: 30px;
}

.calcul .right {
    width: 33.3333%;
    display: table;
    float: left;
    padding-top: 39px;
    text-align: left;
}

.calcul .right li {
    display: table-row;
    height: 48px;
}

.calcul .right li span {
    display: table-cell;
    vertical-align: middle;
    padding-right: 20px;
}

.calcul .right .one {
    padding-left: 55px;
}

/*ПОЗИЦИОНИРОВАНИЕ БЛОКА PACKAGES*/

.calcul label {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    color: #11252d;
}

.calcul input {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    color: #11252d;
}

.calcul select {
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
}

.calcul .common {
    font-size: 18px;
    line-height: 50px;
    font-weight: bold;
    color: #2baf68;
}

.calcul .sum {
    font-size: 48px;
    line-height: 50px;
    font-weight: bold;
    color: #000000;
}

.calcul .btnYellow {
    font-size: 16px;
    line-height: 36px;
    color: #000000;
    text-decoration: none;
    background-color: #ffc638;
}

.calcul .right .one {
    font-size: 18px;
    line-height: 65px;
    font-weight: bold;
    color: #2baf68;
}

.calcul .right .two {
    font-size: 18px;
    line-height: 65px;
    font-weight: bold;
    color: #000000;
}

.choise {
    position: relative;
    z-index: 1;
    bottom: -85px;
}

.choise .partners {
    display: table;
    width: 1170px;
    height: 170px;
    padding: 65px 55px;
    margin-top: 137px;
}

.choise .partners li {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 0 25px;
}

/*ПОЗИЦИОНИРОВАНИЕ БЛОКА STEPS*/

.infoSteps .item {
    width: 25%;
    float: left;
    display: block;
    margin-top: 123px;
    margin-bottom: 100px;
    text-align: center;
    vertical-align: middle;
}

.infoSteps .image {
    margin-bottom: 95px;
}

/*ПОЗИЦИОНИРОВАНИЕ БЛОКА STEPS*/

.infoSteps .item .icon-screen {
    font-size: 80px;
    color: #ffc638;
}

.infoSteps .item .icon-coins {
    font-size: 80px;
    color: #ffc638;
}

.infoSteps .item .icon-graph {
    font-size: 80px;
    color: #ffc638;
}

.infoSteps .item .icon-hand {
    font-size: 80px;
    color: #ffc638;
}

.infoSteps .item .one {
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    color: #2baf68;
}

.infoSteps .item .two {
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    color: #2baf68;
}

.infoSteps .item .textLight {
    font-size: 14px;
    line-height: 30px;
    color: #11252d;
}





